# BMS 기반 통계치

In [1]:
import os
import datetime
import pandas as pd
import numpy as np
from mpl_toolkits.mplot3d import Axes3D
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
import pickle
import warnings
warnings.filterwarnings("ignore")

In [2]:
# 데이터 값 실수. 소수점 두째자리까지 표시
pd.options.display.float_format = '{:.2f}'.format

## 0. 데이터 읽기

In [3]:
df = pd.read_csv('csv_data/cycles_5_final_dataset.csv', infer_datetime_format=True)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 136992 entries, 0 to 136991
Data columns (total 15 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   BSM-p          136992 non-null  object
 1   BSM-m          136992 non-null  object
 2   BSM-c          136992 non-null  object
 3   Datetime       136992 non-null  object
 4   Voltage-p      136992 non-null  float64
 5   Voltage-m      136992 non-null  float64
 6   Voltage-c      136992 non-null  float64
 7   Current        136992 non-null  float64
 8   Temperature-p  136992 non-null  float64
 9   Temperature-m  136992 non-null  float64
 10  State          136992 non-null  int64
 11  Capacity       93696 non-null   float64
 12  SOC            136992 non-null  float64
 13  SOH            93696 non-null   float64
 14  Cycles         136992 non-null  int64
dtypes: float64(9), int64(2), object(4)
memory usage: 15.7+ MB

In [5]:
df['Datetime'] = pd.to_datetime(df['Datetime'])

In [6]:
fuel_cells_df = df

In [7]:
fuel_cells_df

,BSM-p,BSM-m,BSM-c,Datetime,Voltage-p,Voltage-m,Voltage-c,Current,Temperature-p,Temperature-m,State,Capacity,SOC,SOH,Cycles
0,SN-P10001,SN-M10001,SN-C10001,2023-04-12 19:00:00,381.83,44.86,2.97,145.25,15.82,15.00,1,NaN,0.00,NaN,1
1,SN-P10001,SN-M10001,SN-C10002,2023-04-12 19:00:00,381.83,44.86,3.47,145.25,15.82,15.00,1,NaN,0.00,NaN,1
2,SN-P10001,SN-M10001,SN-C10003,2023-04-12 19:00:00,381.83,44.86,4.08,145.25,15.82,15.00,1,NaN,0.00,NaN,1
3,SN-P10001,SN-M10001,SN-C10004,2023-04-12 19:00:00,381.83,44.86,3.58,145.25,15.82,15.00,1,NaN,0.00,NaN,1
4,SN-P10001,SN-M10001,SN-C10005,2023-04-12 19:00:00,381.83,44.86,3.38,145.25,15.82,15.00,1,NaN,0.00,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136987,SN-P10001,SN-M10008,SN-C10092,2023-05-16 14:51:00,381.91,47.31,4.43,72.75,18.39,18.39,2,1.83,0.00,0.99,5
136988,SN-P10001,SN-M10008,SN-C10093,2023-05-16 14:51:00,381.91,47.31,3.95,72.75,18.39,18.39,2,1.83,0.00,0.99,5
136989,SN-P10001,SN-M10008,SN-C10094,2023-05-16 14:51:00,381.91,47.31,4.86,72.75,18.39,18.39,2,1.83,0.00,0.99,5
136990,SN-P10001,SN-M10008,SN-C10095,2023-05-16 14:51:00,381.91,47.31,4.36,72.75,18.39,18.39,2,1.83,0.00,0.99,5
136991,SN-P10001,SN-M10008,SN-C10096,2023-05-16 14:51:00,381.91,47.31,3.70,72.75,18.39,18.39,2,1.83,0.00,0.99,5

### 데이터 전처리(팩단위 데이터, 중복 제거)

In [8]:
# 필요한 컬럼만 추출
selected_columns = ['BSM-p', 'Datetime', 'Voltage-p', 'Current', 'Temperature-p', 'State', 'Capacity', 'SOC', 'SOH', 'Cycles']
fuel_cells_df = fuel_cells_df[selected_columns]

# 중복 제거
fuel_cells_df = fuel_cells_df.drop_duplicates()

In [9]:
fuel_cells_df

,BSM-p,Datetime,Voltage-p,Current,Temperature-p,State,Capacity,SOC,SOH,Cycles
0,SN-P10001,2023-04-12 19:00:00,381.83,145.25,15.82,1,NaN,0.00,NaN,1
96,SN-P10001,2023-04-12 19:01:00,389.84,150.77,15.63,1,NaN,0.13,NaN,1
192,SN-P10001,2023-04-12 19:02:00,389.84,150.74,15.62,1,NaN,0.25,NaN,1
288,SN-P10001,2023-04-12 19:03:00,389.83,150.66,15.62,1,NaN,0.38,NaN,1
384,SN-P10001,2023-04-12 19:04:00,389.84,150.71,15.61,1,NaN,0.51,NaN,1
...,...,...,...,...,...,...,...,...,...,...
136512,SN-P10001,2023-05-16 14:47:00,374.40,72.82,28.49,2,1.83,2.07,0.99,5
136608,SN-P10001,2023-05-16 14:48:00,374.47,72.73,28.44,2,1.83,1.55,0.99,5
136704,SN-P10001,2023-05-16 14:49:00,374.54,72.76,28.34,2,1.83,1.04,0.99,5
136800,SN-P10001,2023-05-16 14:50:00,374.14,72.65,28.81,2,1.83,0.52,0.99,5
136896,SN-P10001,2023-05-16 14:51:00,381.91,72.75,18.39,2,1.83,0.00,0.99,5

## 1. 급속, 완속 충전 횟수
- 충전 전류 임계값을 임의로 설정
- 급속 충전: 전류가 일정 값(예: 100A) 이상일 때
- 완속 충전: 전류가 일정 값(예: 100A) 미만일 때

In [10]:
# 충전 상태 데이터 추출
charging_data = fuel_cells_df[fuel_cells_df['State'] == 1]

In [11]:
# 각 사이클의 평균 전류 계산
average_current_per_cycle = charging_data.groupby('Cycles')['Current'].mean()

In [12]:
# 전류 임계값 설정 (예: 50A)
current_threshold = 150

In [13]:
# 급속, 완속 충전 구분 및 횟수 계산
fast_charging_count = (average_current_per_cycle >= current_threshold).sum()
slow_charging_count = (average_current_per_cycle < current_threshold).sum()

In [14]:
print("급속 충전 횟수:", fast_charging_count)
print("완속 충전 횟수:", slow_charging_count)

급속 충전 횟수: 2
완속 충전 횟수: 3

## 2. 누적 충전량, 방전량
- 누적 충전량과 누적 방전량을 계산하기 위해 각 상태에 대한 전류 값을 모두
- i3 배터리 용량 : 120Ah(42.2kWh)

In [15]:
# 누적 충전량, 누적 방전량 계산
total_charge = fuel_cells_df[fuel_cells_df['State'] == 1]['Current'].sum() / 60
total_discharge = fuel_cells_df[fuel_cells_df['State'] == 2]['Current'].sum() / 70

In [16]:
total_charge = total_charge.round(2)
total_discharge = total_discharge.round(2)

In [17]:
print("누적 충전량 (Ah):", total_charge)
print("누적 방전량 (Ah):", total_discharge)

누적 충전량 (Ah): 1121.96
누적 방전량 (Ah): 1110.55

## 3. 누적 동작시간
-  'Datetime' 열의 최소값과 최대값의 차이를 계산

In [18]:
# 충전 상태와 방전 상태를 구분하여 시간 인덱스 차이 계산
state_diff = fuel_cells_df[['State', 'Datetime']].diff().dropna()
state_diff['State'] = state_diff['State'].abs()

# 충전 상태의 동작 시간 계산
charging_time_diff = state_diff[(state_diff['State'] == 1) | (fuel_cells_df['State'] == 1)]
charging_time = charging_time_diff['Datetime'].sum()

# 방전 상태의 동작 시간 계산
discharging_time_diff = state_diff[(state_diff['State'] == 1) | (fuel_cells_df['State'] == 2)]
discharging_time = discharging_time_diff['Datetime'].sum()

In [19]:
print("충전 동작 시간:", charging_time)
print("방전 동작 시간:", discharging_time)

충전 동작 시간: 5 days 13:09:00
방전 동작 시간: 3 days 17:18:00

In [20]:
operation_time = charging_time + discharging_time
print("총 동작 시간:",operation_time)

총 동작 시간: 9 days 06:27:00

## 4. 누적 싸이클

In [21]:
# 누적 싸이클 계산
total_cycles = fuel_cells_df['Cycles'].max()

print("누적 싸이클:", total_cycles)

누적 싸이클: 5

## 5. 배터리 종합 점수
- 운전 습관 점수: 충전/방전 횟수, 급속/완속 충전 횟수를 반영
- 배터리 수명 점수: 누적 싸이클과 SOH(상태)를 반영
- 각 점수를 0에서 100 사이로 정규화하고, 가중치를 적용하여 최종 점수를 계산

In [22]:
# 운전 습관 점수 계산 (예시: 급속 충전 횟수에 더 낮은 가중치를 부여)
driving_habit_score = (slow_charging_count / (fast_charging_count * 0.7 + slow_charging_count)) * 100

In [23]:
# 배터리 수명 점수 계산 (예시: 높은 SOH와 낮은 누적 싸이클에 더 높은 가중치 부여)
battery_life_score = ((fuel_cells_df['SOH'].max() / 100) * 0.7 + (1 - total_cycles / 10000) * 0.3) * 100

In [24]:
# 종합 점수 계산 (예시: 운전 습관 점수와 배터리 수명 점수의 평균)
overall_score = (driving_habit_score + battery_life_score) / 2

In [25]:
driving_habit_score = driving_habit_score.round(2)
battery_life_score = round(battery_life_score, 2)
overall_score = overall_score.round(2)

In [26]:
print("운전 습관 점수:", driving_habit_score)
print("배터리 수명 점수:", battery_life_score)
print("배터리 종합 점수:", overall_score)

운전 습관 점수: 68.18
배터리 수명 점수: 30.69
배터리 종합 점수: 49.43

## 6. 친환경 점수 계산
1. 전기차의 총 주행 거리
2. 내연기관 차량의 연비 (단위: km/l 또는 mpg)
3. 전기의 가격 (단위: KRW/kWh 또는 USD/kWh)
4. 휘발유의 가격 (단위: KRW/l 또는 USD/gal)
5. 내연기관 차량 1리터(또는 1갤런) 당 발생하는 탄소 배출량 (단위: gCO2/l 또는 gCO2/gal)

- 위 정보를 이용해 전기차와 내연기관 차량의 연료 비용과 탄소 절감량을 계산 가능

- 전기차의 총 주행 거리를 계산해
- 이를 위해 fuel_cells_df 데이터 프레임에서 'SOC' (State of Charge) 컬럼을 사용
- 전기차의 주행 거리를 구하기 위해 배터리의 총 소비 에너지를 계산한 다음, 주어진 연비(5.5km/kWh)로 나눔

### 6-1. 탄소 절감 효과

In [27]:
# 한국 전기 생산 탄소 배출량 (2021년 기준, 대략적인 값)
emission_factor = 450  # gCO₂/kWh

In [28]:
total_discharge

1110.55

In [29]:
# 누적 방전량을 Wh로 변환하고, 전기의 탄소 배출량과 곱하여 전기차의 탄소 발생량 산정
total_discharge_wh = total_discharge * 60  # Wh

# BMW 120Ah(42.2kWh)
total_discharge_wh = 42200
total_ev_emission = total_discharge_wh * emission_factor / 1000  # gCO₂

In [30]:
# 가솔린 차량 탄소 발생량 계산
gasoline_fuel_economy = 10  # L/100km
gasoline_emission_factor = 2392  # gCO₂/L (가솔린의 탄소 배출량)

In [31]:
# 전기차의 에너지 효율 (kWh/km)
energy_efficiency = 150

total_distance = total_discharge_wh / energy_efficiency  # km
total_gasoline_emission = (total_distance / 100) * gasoline_fuel_economy * gasoline_emission_factor  # gCO₂

In [32]:
# 실제 탄소 절감 수치
carbon_savings = total_gasoline_emission - total_ev_emission  # gCO₂

In [33]:
total_ev_emission = round(total_ev_emission, 2)
total_gasoline_emission = round(total_gasoline_emission, 2)
carbon_savings = round(carbon_savings, 2)

In [34]:
print("전기차 탄소 발생량 (gCO₂):", total_ev_emission)
print("가솔린 차량 탄소 발생량 (gCO₂):", total_gasoline_emission)
print("탄소 절감 효과 (gCO₂):", carbon_savings)

전기차 탄소 발생량 (gCO₂): 18990.0
가솔린 차량 탄소 발생량 (gCO₂): 67294.93
탄소 절감 효과 (gCO₂): 48304.93

### 6-2. 연료 비용 절감 효과 계산

In [35]:
# 가격
electricity_price = 0.12  # 전기 가격 (단위: KRW/kWh 또는 USD/kWh)
gasoline_price = 1.30  # 가솔린 가격 (단위: KRW/l 또는 USD/gal)

In [36]:
# 주행거리 산정
total_drive = 5.4 * total_discharge_wh / 100

In [37]:
total_drive

2278.8

In [38]:
# 각 연료 소비량
total_gasoline_consumed = total_drive / 9.7
total_electricity_consumed = total_discharge

In [39]:
# 연료 비용 계산
gasoline_car_fuel_cost = total_gasoline_consumed * gasoline_price
electric_car_fuel_cost = total_electricity_consumed * electricity_price

In [40]:
# 연료 비용 절감
fuel_cost_saving = gasoline_car_fuel_cost - electric_car_fuel_cost

In [41]:
fuel_cost_saving = round(fuel_cost_saving, -1) * 1000

In [42]:
print("연료 절감 효과(원):", fuel_cost_saving)

연료 절감 효과(원): 170000.0

### 6-3. 나무 심기 효과 계산

In [43]:
# 30년 소나무 1년에 흡수하는 이산화탄소 양 (단위: kgCO2/년)
co2_absorption_per_tree = 6.6

In [44]:
# 나무 심은 효과 계산
trees_planted_effect = carbon_savings / co2_absorption_per_tree / 1000

In [45]:
trees_planted_effect = round(trees_planted_effect, 0)

In [46]:
print("소나무 심은 효과:", trees_planted_effect)

소나무 심은 효과: 7.0

## 7. 종합

In [48]:
# 결과 출력
print("[BMW i3 5cycle 주행 통계 결과]")
print("0. 기간 : 2023-04-12 19:00:00 ~ 2023-05-16 14:51:00")
print("1. 급속 충전 : ", fast_charging_count)
print("2. 완속 충전 : ", slow_charging_count)
print("3. 누적 충전 : ", total_charge)
print("4. 누적 방전 : ", total_discharge)
print("5. 누적 동작 : ", operation_time)
print("6. 누적 싸이클 : ", total_cycles)
print("7. 운전 습관 점수 : ", driving_habit_score)
print("8. 배터리 수명 점수 : ", battery_life_score)
print("9. 배터리 종합 점수 : ", overall_score)
print("10. 연료 비용 절감(원) : ", fuel_cost_saving)
print("11. 탄소 절감 효과(gCO₂) : ", carbon_savings)
print("12. 나무 심은 효과(그루) : ", trees_planted_effect)

[BMW i3 5cycle 주행 통계 결과]
0. 기간 : 2023-04-12 19:00:00 ~ 2023-05-20 14:51:00
1. 급속 충전 :  2
2. 완속 충전 :  3
3. 누적 충전 :  1121.96
4. 누적 방전 :  1110.55
5. 누적 동작 :  9 days 06:27:00
6. 누적 싸이클 :  5
7. 운전 습관 점수 :  68.18
8. 배터리 수명 점수 :  30.69
9. 배터리 종합 점수 :  49.43
10. 연료 비용 절감(원) :  170000.0
11. 탄소 절감 효과(gCO₂) :  48304.93
12. 나무 심은 효과(그루) :  7.0