# 1. 데이터 준비

In [46]:
import os
import datetime
import pandas as pd
import numpy as np
from mpl_toolkits.mplot3d import Axes3D
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
import pickle
import warnings
warnings.filterwarnings("ignore")

In [47]:
df = pd.read_csv('csv_data/cycles_0519_09_final_dataset.csv', infer_datetime_format=True)

In [48]:
df

,BSM-p,BSM-m,BSM-c,Datetime,Voltage-p,Voltage-m,Voltage-c,Current,Temperature-p,Temperature-m,State,Capacity,SOC,SOH,Cycles
0,SN-P10001,SN-M10001,SN-C10001,2023-05-04 02:37:00,382.256579,47.382072,4.688506,140.626825,17.058245,17.338245,1,NaN,0.0,NaN,1
1,SN-P10001,SN-M10001,SN-C10002,2023-05-04 02:37:00,382.256579,47.382072,3.728506,140.626825,17.058245,17.338245,1,NaN,0.0,NaN,1
2,SN-P10001,SN-M10001,SN-C10003,2023-05-04 02:37:00,382.256579,47.382072,3.588506,140.626825,17.058245,17.338245,1,NaN,0.0,NaN,1
3,SN-P10001,SN-M10001,SN-C10004,2023-05-04 02:37:00,382.256579,47.382072,4.538506,140.626825,17.058245,17.338245,1,NaN,0.0,NaN,1
4,SN-P10001,SN-M10001,SN-C10005,2023-05-04 02:37:00,382.256579,47.382072,3.418506,140.626825,17.058245,17.338245,1,NaN,0.0,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2110459,SN-P10001,SN-M10008,SN-C10092,2023-05-19 09:00:00,363.222733,42.622842,4.131903,62.126966,36.590995,39.470995,2,1.767364,0.0,0.951994,50
2110460,SN-P10001,SN-M10008,SN-C10093,2023-05-19 09:00:00,363.222733,42.622842,4.181903,62.126966,36.590995,39.470995,2,1.767364,0.0,0.951994,50
2110461,SN-P10001,SN-M10008,SN-C10094,2023-05-19 09:00:00,363.222733,42.622842,3.301903,62.126966,36.590995,39.470995,2,1.767364,0.0,0.951994,50
2110462,SN-P10001,SN-M10008,SN-C10095,2023-05-19 09:00:00,363.222733,42.622842,2.921903,62.126966,36.590995,39.470995,2,1.767364,0.0,0.951994,50
2110463,SN-P10001,SN-M10008,SN-C10096,2023-05-19 09:00:00,363.222733,42.622842,2.991903,62.126966,36.590995,39.470995,2,1.767364,0.0,0.951994,50

In [49]:
df['Datetime'] = pd.to_datetime(df['Datetime'])

In [50]:
fuel_cells_df_state_1 = df[df["State"] == 1]

In [51]:
fuel_cells_df = df[df["State"] == 2]

In [52]:
fuel_cells_df_state_1

,BSM-p,BSM-m,BSM-c,Datetime,Voltage-p,Voltage-m,Voltage-c,Current,Temperature-p,Temperature-m,State,Capacity,SOC,SOH,Cycles
0,SN-P10001,SN-M10001,SN-C10001,2023-05-04 02:37:00,382.256579,47.382072,4.688506,140.626825,17.058245,17.338245,1,NaN,0.0,NaN,1
1,SN-P10001,SN-M10001,SN-C10002,2023-05-04 02:37:00,382.256579,47.382072,3.728506,140.626825,17.058245,17.338245,1,NaN,0.0,NaN,1
2,SN-P10001,SN-M10001,SN-C10003,2023-05-04 02:37:00,382.256579,47.382072,3.588506,140.626825,17.058245,17.338245,1,NaN,0.0,NaN,1
3,SN-P10001,SN-M10001,SN-C10004,2023-05-04 02:37:00,382.256579,47.382072,4.538506,140.626825,17.058245,17.338245,1,NaN,0.0,NaN,1
4,SN-P10001,SN-M10001,SN-C10005,2023-05-04 02:37:00,382.256579,47.382072,3.418506,140.626825,17.058245,17.338245,1,NaN,0.0,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
899707,SN-P10001,SN-M10008,SN-C10092,2023-05-10 14:48:00,387.291465,45.631433,4.382619,199.564588,20.211440,23.091440,1,NaN,100.0,NaN,50
899708,SN-P10001,SN-M10008,SN-C10093,2023-05-10 14:48:00,387.291465,45.631433,4.432619,199.564588,20.211440,23.091440,1,NaN,100.0,NaN,50
899709,SN-P10001,SN-M10008,SN-C10094,2023-05-10 14:48:00,387.291465,45.631433,3.552619,199.564588,20.211440,23.091440,1,NaN,100.0,NaN,50
899710,SN-P10001,SN-M10008,SN-C10095,2023-05-10 14:48:00,387.291465,45.631433,3.172619,199.564588,20.211440,23.091440,1,NaN,100.0,NaN,50
899711,SN-P10001,SN-M10008,SN-C10096,2023-05-10 14:48:00,387.291465,45.631433,3.242619,199.564588,20.211440,23.091440,1,NaN,100.0,NaN,50

In [53]:
fuel_cells_df.shape

(1210752, 15)

In [54]:
fuel_cells_df.columns

Index(['BSM-p', 'BSM-m', 'BSM-c', 'Datetime', 'Voltage-p', 'Voltage-m',
       'Voltage-c', 'Current', 'Temperature-p', 'Temperature-m', 'State',
       'Capacity', 'SOC', 'SOH', 'Cycles'],
      dtype='object')

In [55]:
fuel_cells_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1210752 entries, 899712 to 2110463
Data columns (total 15 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   BSM-p          1210752 non-null  object
 1   BSM-m          1210752 non-null  object
 2   BSM-c          1210752 non-null  object
 3   Datetime       1210752 non-null  datetime64[ns]
 4   Voltage-p      1210752 non-null  float64
 5   Voltage-m      1210752 non-null  float64
 6   Voltage-c      1210752 non-null  float64
 7   Current        1210752 non-null  float64
 8   Temperature-p  1210752 non-null  float64
 9   Temperature-m  1210752 non-null  float64
 10  State          1210752 non-null  int64
 11  Capacity       1210752 non-null  float64
 12  SOC            1210752 non-null  float64
 13  SOH            1210752 non-null  float64
 14  Cycles         1210752 non-null  int64
dtypes: datetime64[ns](1), float64(9), int64(2), object(3)
memory usage: 147.8+ MB

### 고유값 확인:

In [56]:
for i in fuel_cells_df.columns:
    print(i, ":" , fuel_cells_df[i].nunique())

BSM-p : 1
BSM-m : 8
BSM-c : 96
Datetime : 12612
Voltage-p : 12612
Voltage-m : 100896
Voltage-c : 1130168
Current : 12612
Temperature-p : 12612
Temperature-m : 100896
State : 1
Capacity : 50
SOC : 5435
SOH : 50
Cycles : 50

In [57]:
fuel_cells_df.describe(include=[np.number]).transpose()

,count,mean,std,min,25%,50%,75%,max
Voltage-p,1210752.0,375.025899,5.172463,350.000000,372.558965,374.815995,378.418303,389.722595
Voltage-m,1210752.0,46.719487,1.650765,40.970000,45.820050,46.672301,47.428110,51.675324
Voltage-c,1210752.0,3.783603,0.565135,2.524167,3.300294,3.709393,4.314290,5.026277
Current,1210752.0,66.528497,18.166846,61.598732,62.038783,62.079472,62.122575,140.966492
Temperature-p,1210752.0,27.627580,4.992217,15.000000,24.341441,27.794010,31.349059,40.000000
Temperature-m,1210752.0,29.160080,5.147684,14.640000,25.809544,29.292821,32.962752,42.950000
State,1210752.0,2.000000,0.000000,2.000000,2.000000,2.000000,2.000000,2.000000
Capacity,1210752.0,1.801714,0.030904,1.736091,1.773038,1.804077,1.825582,1.856487
SOC,1210752.0,49.999998,28.982278,0.000000,24.867500,50.000000,75.132500,100.000000
SOH,1210752.0,0.970496,0.016647,0.935149,0.955050,0.971769,0.983353,1.000000
Cycles,1210752.0,29.154853,14.408357,1.000000,17.000000,32.000000,41.000000,50.000000

In [58]:
# Missing values:
def missingValue(df):
    #Identifying Missing data.
    total_null = df.isnull().sum().sort_values(ascending = False)
    percent = ((df.isnull().sum()/len(df))*100).sort_values(ascending = False)
    print(f"Total records in our data =  {df.shape[0]} where missing values are as follows:")

    missing_data = pd.concat([total_null,percent.round(2)],axis=1,keys=['Total Missing','In Percent'])
    return missing_data

In [59]:
missing_df = missingValue(fuel_cells_df)
missing_df[missing_df['Total Missing'] > 0]

Total records in our data =  1210752 where missing values are as follows:

Empty DataFrame
Columns: [Total Missing, In Percent]
Index: []

In [60]:
#fuel_cells_df['Datetime'] = fuel_cells_df['Datetime'].astype('int64')
#fuel_cells_df['Datetime'].head()

In [61]:
# copy before mormalization and after datetime converson to int
fuel_cells_df_copy = fuel_cells_df.copy()

In [62]:
cols = ['Voltage-p', 'Voltage-m', 'Voltage-c',
        'Current', 'Temperature-p', 'Temperature-m', 'Capacity','Cycles']   

mm_scaler = MinMaxScaler()

fuel_cells_df_copy[cols] = mm_scaler.fit_transform(fuel_cells_df_copy[cols])
fuel_cells_df_copy.head()

,BSM-p,BSM-m,BSM-c,Datetime,Voltage-p,Voltage-m,Voltage-c,Current,Temperature-p,Temperature-m,State,Capacity,SOC,SOH,Cycles
899712,SN-P10001,SN-M10001,SN-C10001,2023-05-10 14:49:00,0.570595,0.486972,0.825076,0.007841,0.649481,0.59615,2,1.0,100.0,1.0,0.0
899713,SN-P10001,SN-M10001,SN-C10002,2023-05-10 14:49:00,0.570595,0.486972,0.441400,0.007841,0.649481,0.59615,2,1.0,100.0,1.0,0.0
899714,SN-P10001,SN-M10001,SN-C10003,2023-05-10 14:49:00,0.570595,0.486972,0.385448,0.007841,0.649481,0.59615,2,1.0,100.0,1.0,0.0
899715,SN-P10001,SN-M10001,SN-C10004,2023-05-10 14:49:00,0.570595,0.486972,0.765127,0.007841,0.649481,0.59615,2,1.0,100.0,1.0,0.0
899716,SN-P10001,SN-M10001,SN-C10005,2023-05-10 14:49:00,0.570595,0.486972,0.317505,0.007841,0.649481,0.59615,2,1.0,100.0,1.0,0.0

In [63]:
fuel_cells_df_copy['Cycles'].unique()

array([0.        , 0.02040816, 0.04081633, 0.06122449, 0.08163265,
       0.10204082, 0.12244898, 0.14285714, 0.16326531, 0.18367347,
       0.20408163, 0.2244898 , 0.24489796, 0.26530612, 0.28571429,
       0.30612245, 0.32653061, 0.34693878, 0.36734694, 0.3877551 ,
       0.40816327, 0.42857143, 0.44897959, 0.46938776, 0.48979592,
       0.51020408, 0.53061224, 0.55102041, 0.57142857, 0.59183673,
       0.6122449 , 0.63265306, 0.65306122, 0.67346939, 0.69387755,
       0.71428571, 0.73469388, 0.75510204, 0.7755102 , 0.79591837,
       0.81632653, 0.83673469, 0.85714286, 0.87755102, 0.89795918,
       0.91836735, 0.93877551, 0.95918367, 0.97959184, 1.        ])

In [64]:
from sklearn.ensemble import IsolationForest

In [65]:
flag_df = pd.DataFrame()
flag_df_final = pd.DataFrame()

In [66]:
fuel_cells_df_copy

,BSM-p,BSM-m,BSM-c,Datetime,Voltage-p,Voltage-m,Voltage-c,Current,Temperature-p,Temperature-m,State,Capacity,SOC,SOH,Cycles
899712,SN-P10001,SN-M10001,SN-C10001,2023-05-10 14:49:00,0.570595,0.486972,0.825076,0.007841,0.649481,0.59615,2,1.00000,100.0,1.000000,0.0
899713,SN-P10001,SN-M10001,SN-C10002,2023-05-10 14:49:00,0.570595,0.486972,0.441400,0.007841,0.649481,0.59615,2,1.00000,100.0,1.000000,0.0
899714,SN-P10001,SN-M10001,SN-C10003,2023-05-10 14:49:00,0.570595,0.486972,0.385448,0.007841,0.649481,0.59615,2,1.00000,100.0,1.000000,0.0
899715,SN-P10001,SN-M10001,SN-C10004,2023-05-10 14:49:00,0.570595,0.486972,0.765127,0.007841,0.649481,0.59615,2,1.00000,100.0,1.000000,0.0
899716,SN-P10001,SN-M10001,SN-C10005,2023-05-10 14:49:00,0.570595,0.486972,0.317505,0.007841,0.649481,0.59615,2,1.00000,100.0,1.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2110459,SN-P10001,SN-M10008,SN-C10092,2023-05-19 09:00:00,0.332877,0.154394,0.642552,0.006656,0.863640,0.87711,2,0.25975,0.0,0.951994,1.0
2110460,SN-P10001,SN-M10008,SN-C10093,2023-05-19 09:00:00,0.332877,0.154394,0.662535,0.006656,0.863640,0.87711,2,0.25975,0.0,0.951994,1.0
2110461,SN-P10001,SN-M10008,SN-C10094,2023-05-19 09:00:00,0.332877,0.154394,0.310832,0.006656,0.863640,0.87711,2,0.25975,0.0,0.951994,1.0
2110462,SN-P10001,SN-M10008,SN-C10095,2023-05-19 09:00:00,0.332877,0.154394,0.158961,0.006656,0.863640,0.87711,2,0.25975,0.0,0.951994,1.0
2110463,SN-P10001,SN-M10008,SN-C10096,2023-05-19 09:00:00,0.332877,0.154394,0.186937,0.006656,0.863640,0.87711,2,0.25975,0.0,0.951994,1.0

In [67]:
contamination_value = 0.01

# Create a copy of the original DataFrame to avoid modifying it
fuel_cells_df_final = fuel_cells_df_copy.copy()

# Create a variable holding the relevant columns for fitting the model and decision_function
feature_columns = fuel_cells_df_copy.columns.difference(['BSM-p', 'BSM-m', 'BSM-c','Datetime','State', 'Capacity', 'SOC', 'SOH'])

In [68]:
feature_columns

Index(['Current', 'Cycles', 'Temperature-m', 'Temperature-p', 'Voltage-c',
       'Voltage-m', 'Voltage-p'],
      dtype='object')

In [69]:
# Initialize the IsolationForest model with the desired contamination value
model = IsolationForest(n_estimators=200, max_samples='auto', contamination=contamination_value, random_state=42)

In [70]:
# Fit the model with the feature columns
model.fit(fuel_cells_df_final[feature_columns])

IsolationForest(contamination=0.01, n_estimators=200, random_state=42)

In [71]:
# Predict the anomaly scores and add them to the DataFrame
predictions = model.predict(fuel_cells_df_copy[feature_columns])
fuel_cells_df['anomaly_score' + '_' + str(contamination_value)] = predictions

In [72]:
# Compute the decision function scores and add them to the DataFrame
scores = model.decision_function(fuel_cells_df_copy[feature_columns])
fuel_cells_df['scores' + '_' + str(contamination_value)] = scores

In [73]:
fuel_cells_df

,BSM-p,BSM-m,BSM-c,Datetime,Voltage-p,Voltage-m,Voltage-c,Current,Temperature-p,Temperature-m,State,Capacity,SOC,SOH,Cycles,anomaly_score_0.01,scores_0.01
899712,SN-P10001,SN-M10001,SN-C10001,2023-05-10 14:49:00,372.665516,46.183190,4.588599,62.221067,31.237017,31.517017,2,1.856487,100.0,1.000000,1,1,0.158903
899713,SN-P10001,SN-M10001,SN-C10002,2023-05-10 14:49:00,372.665516,46.183190,3.628599,62.221067,31.237017,31.517017,2,1.856487,100.0,1.000000,1,1,0.188372
899714,SN-P10001,SN-M10001,SN-C10003,2023-05-10 14:49:00,372.665516,46.183190,3.488599,62.221067,31.237017,31.517017,2,1.856487,100.0,1.000000,1,1,0.187551
899715,SN-P10001,SN-M10001,SN-C10004,2023-05-10 14:49:00,372.665516,46.183190,4.438599,62.221067,31.237017,31.517017,2,1.856487,100.0,1.000000,1,1,0.168639
899716,SN-P10001,SN-M10001,SN-C10005,2023-05-10 14:49:00,372.665516,46.183190,3.318599,62.221067,31.237017,31.517017,2,1.856487,100.0,1.000000,1,1,0.181080
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2110459,SN-P10001,SN-M10008,SN-C10092,2023-05-19 09:00:00,363.222733,42.622842,4.131903,62.126966,36.590995,39.470995,2,1.767364,0.0,0.951994,50,1,0.059600
2110460,SN-P10001,SN-M10008,SN-C10093,2023-05-19 09:00:00,363.222733,42.622842,4.181903,62.126966,36.590995,39.470995,2,1.767364,0.0,0.951994,50,1,0.059276
2110461,SN-P10001,SN-M10008,SN-C10094,2023-05-19 09:00:00,363.222733,42.622842,3.301903,62.126966,36.590995,39.470995,2,1.767364,0.0,0.951994,50,1,0.060494
2110462,SN-P10001,SN-M10008,SN-C10095,2023-05-19 09:00:00,363.222733,42.622842,2.921903,62.126966,36.590995,39.470995,2,1.767364,0.0,0.951994,50,1,0.046000
2110463,SN-P10001,SN-M10008,SN-C10096,2023-05-19 09:00:00,363.222733,42.622842,2.991903,62.126966,36.590995,39.470995,2,1.767364,0.0,0.951994,50,1,0.051488

In [74]:
fuel_cells_df['anomaly_score_0.01'].value_counts(ascending= True)

-1      12108
 1    1198644
Name: anomaly_score_0.01, dtype: int64

In [75]:
# Assuming fuel_cells_df_final is already a DataFrame
count = fuel_cells_df[(fuel_cells_df['anomaly_score_0.01'] == -1)].groupby('BSM-m')['anomaly_score_0.01'].count()

print(count)

BSM-m
SN-M10001    1263
SN-M10002    1359
SN-M10003    1241
SN-M10004    1380
SN-M10005    1443
SN-M10006    1399
SN-M10007    1370
SN-M10008    2653
Name: anomaly_score_0.01, dtype: int64

In [76]:
# Assuming fuel_cells_df_final is already a DataFrame
count = fuel_cells_df[(fuel_cells_df['anomaly_score_0.01'] == -1)].groupby('BSM-c')['anomaly_score_0.01'].count()

print(count)

BSM-c
SN-C10001    112
SN-C10002     99
SN-C10003     97
SN-C10004    105
SN-C10005    100
            ...
SN-C10092    193
SN-C10093    204
SN-C10094    178
SN-C10095    282
SN-C10096    243
Name: anomaly_score_0.01, Length: 96, dtype: int64

In [77]:
filtered_df = fuel_cells_df[fuel_cells_df['anomaly_score_0.01'] == -1]
count = filtered_df.groupby('BSM-c')['anomaly_score_0.01'].count()

top_5 = count.nlargest(5)

print(top_5)

BSM-c
SN-C10089    359
SN-C10090    282
SN-C10095    282
SN-C10096    243
SN-C10086    237
Name: anomaly_score_0.01, dtype: int64

In [78]:
# 데이터 프레임 합치기
combined_df = pd.concat([fuel_cells_df, fuel_cells_df_state_1])

# 'state'와 'cycle' 열로 정렬하기
df_final = combined_df.sort_values(['State', 'Cycles'])

In [79]:
df_final = df_final.replace({np.nan: -10})

In [80]:
df_final

,BSM-p,BSM-m,BSM-c,Datetime,Voltage-p,Voltage-m,Voltage-c,Current,Temperature-p,Temperature-m,State,Capacity,SOC,SOH,Cycles,anomaly_score_0.01,scores_0.01
0,SN-P10001,SN-M10001,SN-C10001,2023-05-04 02:37:00,382.256579,47.382072,4.688506,140.626825,17.058245,17.338245,1,-10.000000,0.0,-10.000000,1,-10.0,-10.000000
1,SN-P10001,SN-M10001,SN-C10002,2023-05-04 02:37:00,382.256579,47.382072,3.728506,140.626825,17.058245,17.338245,1,-10.000000,0.0,-10.000000,1,-10.0,-10.000000
2,SN-P10001,SN-M10001,SN-C10003,2023-05-04 02:37:00,382.256579,47.382072,3.588506,140.626825,17.058245,17.338245,1,-10.000000,0.0,-10.000000,1,-10.0,-10.000000
3,SN-P10001,SN-M10001,SN-C10004,2023-05-04 02:37:00,382.256579,47.382072,4.538506,140.626825,17.058245,17.338245,1,-10.000000,0.0,-10.000000,1,-10.0,-10.000000
4,SN-P10001,SN-M10001,SN-C10005,2023-05-04 02:37:00,382.256579,47.382072,3.418506,140.626825,17.058245,17.338245,1,-10.000000,0.0,-10.000000,1,-10.0,-10.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2110459,SN-P10001,SN-M10008,SN-C10092,2023-05-19 09:00:00,363.222733,42.622842,4.131903,62.126966,36.590995,39.470995,2,1.767364,0.0,0.951994,50,1.0,0.059600
2110460,SN-P10001,SN-M10008,SN-C10093,2023-05-19 09:00:00,363.222733,42.622842,4.181903,62.126966,36.590995,39.470995,2,1.767364,0.0,0.951994,50,1.0,0.059276
2110461,SN-P10001,SN-M10008,SN-C10094,2023-05-19 09:00:00,363.222733,42.622842,3.301903,62.126966,36.590995,39.470995,2,1.767364,0.0,0.951994,50,1.0,0.060494
2110462,SN-P10001,SN-M10008,SN-C10095,2023-05-19 09:00:00,363.222733,42.622842,2.921903,62.126966,36.590995,39.470995,2,1.767364,0.0,0.951994,50,1.0,0.046000
2110463,SN-P10001,SN-M10008,SN-C10096,2023-05-19 09:00:00,363.222733,42.622842,2.991903,62.126966,36.590995,39.470995,2,1.767364,0.0,0.951994,50,1.0,0.051488

## 데이터 사전 분리

In [81]:
# pack_log 데이터 프레임 생성 및 중복 제거
df_pack_log = df_final[['BSM-p', 'Voltage-p', 'Current', 'Temperature-p', 'State', 'Capacity', 'SOC', 'SOH', 'Cycles', 'Datetime']]
df_pack_log = df_pack_log.drop_duplicates()

# module_log 데이터 프레임 생성 및 중복 제거
df_module_log = df_final[['BSM-p', 'BSM-m', 'Voltage-m', 'Temperature-m', 'Datetime']]
df_module_log = df_module_log.drop_duplicates()

# cell_log 데이터 프레임 생성 및 중복 제거
df_cell_log = df_final[['BSM-m', 'BSM-c', 'Voltage-c', 'Datetime', 'anomaly_score_0.01' , 'scores_0.01']]
df_cell_log = df_cell_log.drop_duplicates()

In [82]:
# 컬럼명 변경
df_pack_log = df_pack_log.rename(columns={
    'BSM-p': 'pack_code',
    'Voltage-p': 'voltage_p',
    'Current': 'current',
    'Temperature-p': 'temp_p',
    'State': 'status',
    'Capacity': 'capacity',
    'SOC': 'soc',
    'SOH': 'soh',
    'Cycles': 'cycle',
    'Datetime': 'created_at'
})
# 'id' 컬럼 추가
#df_pack_log.insert(0, 'id', range(1, len(df_pack_log)+1))

# 'car_id' 컬럼 추가
df_pack_log['car_id'] = 1

# 컬럼 순서 변경
df_pack_log = df_pack_log[['capacity', 'created_at', 'current', 'cycle', 'pack_code', 'soc', 'soh', 'status', 'temp_p', 'voltage_p', 'car_id']]

In [83]:
df_pack_log

,capacity,created_at,current,cycle,pack_code,soc,soh,status,temp_p,voltage_p,car_id
0,-10.000000,2023-05-04 02:37:00,140.626825,1,SN-P10001,0.00,-10.000000,1,17.058245,382.256579,1
96,-10.000000,2023-05-04 02:38:00,146.604775,1,SN-P10001,1.30,-10.000000,1,16.894413,389.838536,1
192,-10.000000,2023-05-04 02:39:00,146.574328,1,SN-P10001,2.60,-10.000000,1,16.889647,389.839013,1
288,-10.000000,2023-05-04 02:40:00,146.491609,1,SN-P10001,3.90,-10.000000,1,16.890412,389.835309,1
384,-10.000000,2023-05-04 02:41:00,146.542526,1,SN-P10001,5.19,-10.000000,1,16.881303,389.843971,1
...,...,...,...,...,...,...,...,...,...,...,...
2109984,1.767364,2023-05-19 08:56:00,62.090767,50,SN-P10001,1.14,0.951994,2,25.787742,377.258240,1
2110080,1.767364,2023-05-19 08:57:00,62.083427,50,SN-P10001,0.85,0.951994,2,25.762906,377.301602,1
2110176,1.767364,2023-05-19 08:58:00,62.151095,50,SN-P10001,0.57,0.951994,2,28.389674,374.788784,1
2110272,1.767364,2023-05-19 08:59:00,62.065301,50,SN-P10001,0.28,0.951994,2,25.438710,379.152915,1
2110368,1.767364,2023-05-19 09:00:00,62.126966,50,SN-P10001,0.00,0.951994,2,36.590995,363.222733,1

In [84]:
df_module_log = df_module_log.rename(columns={
    'BSM-p': 'pack_log_id',
    'BSM-m': 'module_code',
    'Voltage-m': 'voltage_m',
    'Temperature-m': 'temp_m',
    'Datetime': 'created_at'
})

# 'pack_log_id' 컬럼 업데이트
df_module_log['pack_log_id'] = np.repeat(np.arange(1, len(df_module_log) // 8 + 1), 8)

# 컬럼 순서 변경
df_module_log = df_module_log[['created_at', 'module_code', 'temp_m', 'voltage_m', 'pack_log_id']]

In [85]:
df_module_log

                 created_at module_code     temp_m  voltage_m  pack_log_id
0       2023-05-04 02:37:00   SN-M10001  17.338245  47.382072            1
12      2023-05-04 02:37:00   SN-M10002  19.678245  48.222072            1
24      2023-05-04 02:37:00   SN-M10003  17.458245  47.552072            1
36      2023-05-04 02:37:00   SN-M10004  20.008245  48.092072            1
48      2023-05-04 02:37:00   SN-M10005  18.068245  46.532072            1
...                     ...         ...        ...        ...          ...
2110404 2023-05-19 09:00:00   SN-M10004  39.540995  45.712842        21984
2110416 2023-05-19 09:00:00   SN-M10005  37.600995  44.152842        21984
2110428 2023-05-19 09:00:00   SN-M10006  36.230995  48.362842        21984
2110440 2023-05-19 09:00:00   SN-M10007  39.070995  45.082842        21984
2110452 2023-05-19 09:00:00   SN-M10008  39.470995  42.622842        21984

[175872 rows x 5 columns]

In [86]:
df_cell_log = df_cell_log.rename(columns={
    'BSM-c': 'cell_code',
    'Voltage-c': 'voltage_c',
    'Datetime': 'created_at',
    'anomaly_score_0.01': 'is_normal',
    'scores_0.01': 'outlier'
})

# 'pack_log_id' 컬럼 업데이트
df_cell_log['module_log_id'] = np.repeat(np.arange(1, len(df_cell_log) // 12 + 1), 12)

# 컬럼 순서 변경
df_cell_log = df_cell_log[['cell_code','created_at','voltage_c', 'module_log_id','is_normal','outlier']]

In [87]:
# None 값을 NaN 값으로 변경
df_cell_log = df_cell_log.replace(np.nan, None)

In [88]:
df_cell_log

,cell_code,created_at,voltage_c,module_log_id,is_normal,outlier
0,SN-C10001,2023-05-04 02:37:00,4.688506,1,-10.0,-10.000000
1,SN-C10002,2023-05-04 02:37:00,3.728506,1,-10.0,-10.000000
2,SN-C10003,2023-05-04 02:37:00,3.588506,1,-10.0,-10.000000
3,SN-C10004,2023-05-04 02:37:00,4.538506,1,-10.0,-10.000000
4,SN-C10005,2023-05-04 02:37:00,3.418506,1,-10.0,-10.000000
...,...,...,...,...,...,...
2110459,SN-C10092,2023-05-19 09:00:00,4.131903,175872,1.0,0.059600
2110460,SN-C10093,2023-05-19 09:00:00,4.181903,175872,1.0,0.059276
2110461,SN-C10094,2023-05-19 09:00:00,3.301903,175872,1.0,0.060494
2110462,SN-C10095,2023-05-19 09:00:00,2.921903,175872,1.0,0.046000
2110463,SN-C10096,2023-05-19 09:00:00,2.991903,175872,1.0,0.051488

In [89]:
# csv 파일 저장
df_pack_log.to_csv('pack_log_0519_09.csv', index=False)
df_module_log.to_csv('module_log_0519_09.csv', index=False)
df_cell_log.to_csv('cell_log_0519_09.csv', index=False)

### 데이터 mysql에 넣기

In [69]:
import mysql.connector
from mysql.connector import Error

In [70]:
# MySQL 접속 정보
host = 'k8e101.p.ssafy.io'
user = 'root'
password = 'P@ssw0rd12'
database = 'sdilink'

In [ ]:
try:
    connection = mysql.connector.connect(host=host, user=user, password=password, database=database, port=3306)
    cursor = connection.cursor()

    for index, row in df_pack_log.iterrows():
        # pack_log 테이블에 데이터 삽입
        pack_log_query = f"""
            INSERT INTO pack_log
            (car_id, pack_code, voltage_p, current, temp_p, status, capacity, soc, soh, cycle, created_at)
            SELECT 1, '{row['BSM-p']}', {row['Voltage-p']}, {row['Current']}, {row['Temperature-p']}, {row['State']},
                   {row['Capacity']}, {row['SOC']}, {row['SOH']}, {row['Cycles']}, '{row['Datetime']}'
            WHERE NOT EXISTS (
                SELECT 1
                FROM pack_log
                WHERE pack_code = '{row['BSM-p']}' AND created_at = '{row['Datetime']}'
            )
        """
        cursor.execute(pack_log_query)
        connection.commit()

    for index, row in df_module_log.iterrows():
        # module_log 테이블에 데이터 삽입
        module_log_query = f"""
            INSERT INTO module_log
            (pack_log_id, module_code, voltage_m, temp_m, created_at)
            SELECT pl.id, '{row['BSM-m']}', {row['Voltage-m']}, {row['Temperature-m']}, '{row['Datetime']}'
            FROM pack_log AS pl
            WHERE pl.pack_code = '{row['BSM-p']}' AND pl.created_at = '{row['Datetime']}' AND
                  NOT EXISTS (
                      SELECT 1
                      FROM module_log
                      WHERE pack_log_id = pl.id AND module_code = '{row['BSM-m']}' AND created_at = '{row['Datetime']}'
                  )
        """
        cursor.execute(module_log_query)
        connection.commit()

    for index, row in df_cell_log.iterrows():
        # cell_log 테이블에 데이터 삽입
        cell_log_query = f"""
            INSERT INTO cell_log
            (module_log_id, cell_code, voltage_c, is_normal, scores_0_01, created_at)
            SELECT ml.id, '{row['BSM-c']}', {row['Voltage-c']}, {row['scores_0.01']}, {row['anomaly_score_0.01']}, '{row['Datetime']}'
            FROM module_log AS ml
            JOIN pack_log AS pl ON ml.pack_log_id = pl.id
            WHERE ml.module_code = '{row['BSM-m']}' AND ml.created_at = '{row['Datetime']}' AND
                  NOT EXISTS (
                      SELECT 1
                      FROM cell_log
                      WHERE module_log_id = ml.id AND cell_code = '{row['BSM-c']}' AND created_at = '{row['Datetime']}'
                  )
        """
        cursor.execute(cell_log_query)
        connection.commit()

except Error as e:
    print(f"The error '{e}' occurred")

finally:
    if 'cursor' in locals() and cursor is not None:
        cursor.close()
    if 'connection' in locals() and connection is not None:
        connection.close()

### 모델 저장

In [49]:
# Save the trained model to a file
with open('isolation_forest_model-0.2.0.pkl', 'wb') as file:
    pickle.dump(model, file)